@import '../../styles/variables.scss';

.circle {
  height: 225px;
  width: 225px;
  border: 2px solid $darkMain;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  transition: 200ms;
}

.circle:hover {
  background: $FeatureColor;
  border: 2px solid $FeatureColor;
  transition: 200ms;
  color: $LightMain;
}

.invert .circle {
  height: 225px;
  width: 225px;
  border: 2px solid $LightMain;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  transition: 200ms;
}

.invert .circle:hover {
  background: $FeatureColor;
  border: 2px solid $FeatureColor;
  transition: 200ms;
  color: $LightMain;
}
